table{
    background: url(../image/background.png);
    background-size: cover;   
    padding: 1px;
    color:white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    width:fit-content;
    border-collapse: collapse;
}

table td, th{
   border-style: solid;
   border-color: #4C58FF;
   border-width: 2px;
}
